{% load static %}
{% load compress %}
{% load standardpage %}
<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>{% block title %}{{ title }} | CCiW{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet" type="text/css" />
    {% compress css %}
      <link rel="stylesheet" href="{% static "css/style.scss" %}" type="text/x-scss" />
    {% endcompress %}

    {% block extraheader %}{% endblock %}
  </head>
  <body {% block bodyattr %}{% endblock %}>
    {% block bodystart %}
    {% endblock %}
    <header>
      <div class="headerinner">
        <div id="headerlogo">
          <a href="/" title="Home page">
            <img src="{% static "images/whitelogoshadow.svg" %}" alt="CCiW logo" width="157" height="157">
          </a>
        </div>
        {% block topbar %}
        {% endblock %}
        {% block pagetitlediv %}
          <div id="pagetitle">
            <h1>{% block pagetitle %}{{ title }}{% endblock %}</h1>
          </div>
        {% endblock %}
      </div>
    </header>
    {% block main %}
      <div id="content">
        {% block contenttop %}
        {% endblock %}
        <div class="content"> {# has margin #}
          <div id="contentinner"> {# has padding #}
            {% block precontent %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block postcontent %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
    <footer>
      <div class="websiteinfo">
        <div class="content">
          <div class="linkgroupcontainer">
            <div class="linkgroup">
              <h2>About our camps</h2>
              <ul>
                <li><a href="{% url 'cciw-cciwmain-thisyear' %}">Camps {{ thisyear }}</a></li>
                <li><a href="{% url 'cciw-cciwmain-sites_index' %}">Camp sites</a></li>
                <li><a href="{% url 'cciw-bookings-index' %}">Booking</a></li>
              </ul>
            </div>
            <div class="linkgroup">
              <h2>Helping</h2>
              <ul>
                <li><a href="/helpers/">Helping on camp</a></li>
                <li><a href="{% url 'cciw-officers-index' %}">Officer login</a></li>
              </ul>
            </div>
            <div class="linkgroup">
              <h2>About CCiW</h2>
              <ul>
                <li><a href="/info/about-camp/">Ethos</a></li>
                <li><a href="/info/directors/">Directors</a></li>
                <li><a href="/info/doctrinal-basis/">Doctrinal basis</a></li>
                <li><a href="/info/legal/">Legal information</a></li>
              </ul>
            </div>
            <div class="linkgroup">
              <h2>Website help</h2>
              <ul>
                <li><a href="/website/help/" title="Get help or report problems with the site">General help</a></li>
                <li><a href="/website/terms/">Terms of service</a></li>
                <li><a href="/">Back to home page</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="companyinfo">
        <div class="content">
          <p>© 2016 CCiW</p>

          <p>CCiW is a limited company (reg. No. 3900844), and a Registered Charity (No. <a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=1079713&amp;SubsidiaryNumber=0">1079713</a>)</p>
        </div>
      </div>
    </footer>
  </body>
</html>
