<details {% if expand_details %}open{% endif %}>
  <summary>
    Camper information data retention:
  </summary>
  <ul>
    <li><b>Share this data only with leaders and assistant leaders</b> and no
      third parties. All these people must be aware of and abide by these rules.</li>
    <li><b>Keep downloaded data secure and well organised</b>, stored only on devices that
      unauthorised people do not have access to. You must be able to find and delete it later.</li>
    <li><b>Delete camper information within 1 month of the end of the camp</b> it
      relates to. It must be fully erased from your electronic devices and online storage,
      including any copies you have made, such as attachments in emails and
      backups.</li>
  </ul>
</details>
