{% extends "cciw/officers/create_reference_base.html" %}


{% block title %}Submit reference | CCiW Officers{% endblock %}
{% block content %}
  <h1>Submit reference for {{ officer.full_name }}</h1>
  {% if incorrect_url %}
    <p>The address is not correct.  Please ensure you have used the complete URL
      from the email</p>
  {% else %}
    {% if already_submitted %}
      <p>The reference has already been submitted, thank you.</p>
    {% else %}
      {% if update %}
        <p>Please check and update the following information.
          {% if last_form_date %}
            (You submitted this information on {{ last_form_date }}).
          {% endif %}
          {% if last_empty %}
            It seems that your reference has not been stored properly in our
            database in the past, so we do not have past data to start from. In
            the future, the information you put in this year will be used as a
            starting point.
          {% endif %}
          Then press 'Submit reference' at the bottom.  Thanks!</p>
      {% else %}
        <p>Please fill out the reference form, amending your name if necessary.
          At the bottom of the page press 'Submit reference'.</p>
      {% endif %}

      {% if form.errors %}
        <p class="errornote">
          Please correct the error(s) below.
        </p>
      {% endif %}

      <form id="id_create_reference" method="post" action="">{% csrf_token %}
        {{ form.as_p }}
        <div><input type="submit" name="save" value="Submit reference" /></div>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
