{% extends "cciw/officers/base.html" %}

{% load reference_utils %}

{% block title %}Manage references {{ camp.nice_name }} | CCiW Officers{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript">
    //<![CDATA[

    function requestGeneric(query) {
      cciw.openTemporaryWindow('{% url "cciw-officers-request_reference" camp_id=camp.url_id %}?' + query,
        '_blank',
        "toolbar=yes,height=600,width=900,location=yes,menubar=yes,scrollbars=yes,resizable=yes");
    }

    function refreshReferenceSection(referee_id) {
      jQuery.ajax({
        type: "GET",
        url: "?referee_id=" + referee_id.toString() + "&" + Math.random().toString(),
        dataType: 'text',
        success: function(data, textStatus, xhr) {
          // Replace existing div and move to correct place,
          // which might be under a different 'mode'
          var section = jQuery('#officerref' + referee_id.toString());
          var officerName = section.find("h3.referencestart").text();
          var refereeName = section.find(".refereename").text();
          var mode = jQuery(data).find('div.referencemode').text();

          // Look through other officer names in same section
          var allOfficerRefs = jQuery('#' + mode + 'refs .referencesection');
          var dest = null;
          allOfficerRefs.each(function(i, elem) {
            var oName = jQuery(elem).find('.referencestart').text();
            var rName = jQuery(elem).find('.refereename').text();
            // references are sorted alphabetical by officer names
            // and then by referee name.
            if (officerName < oName ||
              (officerName == oName && refereeName < rName)) {
                dest = jQuery(elem);
                return false;
              };
          });
          if (!dest) {
            dest = jQuery('#' + mode + 'end');
          }

          section.fadeOut('slow', function() {
            section.insertBefore(dest);
            // Don't use 'replaceWith' so we can control animation.
            section.html(jQuery(data).html());
            section.fadeIn('slow');
          });
        }
      });
    }

    function requestReference(referee_id) {
      requestGeneric('referee_id=' + referee_id.toString());
    }

    function requestUpdate(referee_id, prev_ref_id) {
      requestGeneric('referee_id=' + referee_id.toString() + '&update=1&prev_ref_id=' + prev_ref_id.toString());
    }

    function requestUpdateCustom(referee_id) {
      var s = document.getElementById('id_referee_opts_' + referee_id.toString());
      if (s.selectedIndex == -1 || s.value == "") {
        alert("Please select an option");
      } else {
        var val = s.options[s.selectedIndex].value;
        requestGeneric('referee_id=' + referee_id.toString() + '&update=1&prev_ref_id=' + val);
      }
    }

    function nagByOfficer(referee_id) {
      cciw.openTemporaryWindow('{% url "cciw-officers-nag_by_officer" camp_id=camp.url_id %}?referee_id=' + referee_id.toString(),
        '_blank',
        "toolbar=yes,height=600,width=900,location=yes,menubar=yes,scrollbars=yes,resizable=yes");
    }


    //]]>
  </script>
{% endblock %}

{% block content %}<div id="content-main">

  <h1>Manage references</h1>
  <h2>For camp {{ camp }}</h2>

  {% if officer %}
    <h3>For officer {{ officer.full_name }} <a href=".">(view all)</a></h3>

  {% endif %}

  {% if ref_email_search %}
    <h3>Filtering for referee email address = “{{ ref_email_search }}”</h3>
    <p><a href=".">(clear filter)</a></p> {# should use spurl to manipulate URLs but it doesn't support Python 3 yet #}
  {% endif %}

  <p>This page allows you to request references for officers who have submitted
    application forms. References that have not been requested are at the top,
    those that have been requested are in the middle, and those that have been
    received are at the bottom.  Within each section they are sorted
    alphabetically by first name.
  </p>

  <p>For each reference that needs to be requested, choose from the options.  An
    option only appears if it is possible, and the most likely option is listed
    first.</p>

  <p>All of the <button>Request...</button> action buttons open new windows in which you may need
    to edit a default email and confirm. You will also be given the option to
    fill in reference form manually if the referee can't use the online system.</p>

  <p>If the referee does not respond quickly, you can request the reference again,
    or ask the officer concerned to contact their referee and ask for the
    reference.</p>

  {% if message %}
    <p><strong>{{ message }}</strong></p>
  {% endif %}

  <h2>References to be requested</h2>

  <div id="notrequestedrefs">
    {% for referee in notrequested %}

      {% with "notrequested" as mode %}
        {% include "cciw/officers/manage_reference.html" %}
      {% endwith %}

    {% empty %}
      <p>No outstanding references to be requested.</p>
    {% endfor %}
    <div id="notrequestedend"></div>
  </div>

  {% if requested %}
    <h2 class="ok">References requested</h2>

    <div id="requestedrefs">
      {% for referee in requested %}

        {% with "requested" as mode %}
          {% include "cciw/officers/manage_reference.html" %}
        {% endwith %}

      {% endfor %}
      <div id="requestedend"></div>
    </div>
  {% endif %}

  <h2 class="good">References received</h2>

  <div id="receivedrefs">
    {% for referee in received %}

      {% with "received" as mode %}
        {% include "cciw/officers/manage_reference.html" %}
      {% endwith %}

    {% empty %}
      <p>No references received.</p>
    {% endfor %}
    <div id="receivedend"></div>
  </div>

</div>
{% endblock %}
