{% extends "cciw/officers/stats_base.html" %}

{% block title %}Officer stats {{ start_year }}-{{ end_year }} | CCiW Officers{% endblock %}

{% block content %}
  <div id="content-main">
    <div style="width:1000px;height:500px;"
      data-chart="{{ chart_data }}"
      data-officer-stats-trend-chart-placeholder="true"
    >
    </div>

    <h2>Data</h2>

    <p>Download raw data: <a href="{% url 'cciw-officers-officer_stats_trend_download' start_year=start_year end_year=end_year %}?format=xls">XLS</a></p>

  </div>
{% endblock %}
